body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(147, 225, 247);
    background-color: rgb(85, 88, 88);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
h2, h3{
    border-bottom :1px solid rgb(156, 147, 147);
    border-radius: 6px;
    padding: 0px 8px;
    width: fit-content;
}
h2:hover, h3:hover{
    border-left: 1px solid rgb(156, 147, 147);
    border-right: 1px solid rgb(156, 147, 147);
    background-color: rgb(128, 117, 117);
}
p{
    background-color: rgb(97, 97, 91);
    padding: 0px 4px;
    border: 2px solid grey;
    border-radius: 4px;
}
header{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: rgb(88, 81, 81);
    border: 2px solid transparent;
    border-radius: 30px 20px 20px 30px; 
    justify-content: center;
}
.image_profile{
    background-color: rgb(107, 97, 97);
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 2px solid  rgb(107, 97, 97);
    border-radius: 0px 20px 20px 0px;
}
@media (max-width: 420px) {
    header {
        grid-template-columns: 1fr;
    }
    .image_profile{
        border-radius: 16px 28px;
    }
}

.cont{
    text-decoration: none;
    color: rgb(147, 225, 247);
    padding: 0px 10px;
}

ul{
    background-color: rgb(97, 97, 91);
    padding: 0px 22px;
    border: 2px solid grey;
    border-radius: 4px;
}
#color{
    position: absolute;
    top: 4px;
    transform: translateX(-10px);
}

.change{
    position: relative;
    transform: translateX(10px);
}

.white-mode {
    background-color: white;
    color: rgb(255, 250, 250);  /* Set text color to black for readability */
}

.grey-mode{
    background-color:rgb(255, 254, 254);
    color: black;
}

.grey-mode:hover{
    background-color: rgb(173, 170, 170);
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600px;
    font-size: 12px;
    cursor: pointer;
}

span{
    font-size: 14px;
    font-weight: 400px;
}

.special{
    background-color: rgb(107, 97, 97);
    color: white;
    width: fit-content;
    border-radius: 4px;
}

.link:hover{
    background-color: lightgrey;
    color: black;
    border-bottom: .5px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(58, 57, 57);
    padding: 0px 2px;
}

#game {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

table{
    width: 280px;
    height: 280px;
}
td{
    font-size: 30px;
    width: 33.33%;
    height: 33.33%;
    padding: 0 0;
    font-weight: bolder;
}